#wholepage {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.navone, .navtwo {
    display: inline-block;
}

.gginfo {
    padding: 5px;
}

.ggstore {
    padding: 5px;
}